<h4>Formularios <small> tipo template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="submit(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control "
               type="text"
               name="nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               [ngModel]="usuario.nombre"
               placeholder="Nombre"
               #nombre="ngModel"
        minlength="5"
        required="required">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [ngModel]="usuario.apellido"
               ngModel=""
               required="required"
               placeholder="Apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="email"
             [ngModel]="usuario.email"
             ngModel=""
             placeholder="Correo electrónico">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">

      <select class="custom-select"
      name="pais"
              [ngModel]="usuario.pais"
              [disabled]="paises.length === 0"

              required="required"
      >
        <option value="" disabled>Choose your country</option>
        <option *ngFor="let pais of paises" [value]="pais.code" >{{pais.name}}</option>

      </select>

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
